[submodule "external/AsyncVLA"]
	path = external/AsyncVLA
	url = https://github.com/NHirose/AsyncVLA
[submodule "external/raspicat-sim-docker"]
	path = external/raspicat-sim-docker
	url = https://github.com/CIT-Autonomous-Robot-Lab/raspicat-sim-docker
